<h2>Welcome to My Favorite Meals, <%= current_user.name.capitalize %>!</h2><br><br>
<h4>Click <a href='/reviews'>here</a> to see all of your meal reviews!</h4>
<h4>Click <a href='/reviews/new'>here</a> to create a new review!</h4>