<h2>Welcome to My Favorite Meals, <%= current_user.username %>!</h2>
<p>Click <a href='/reviews'>here</a> to see all of your meal reviews!</p>
<p>Click <a href='/reviews/new'>here</a> to create a new review!</p>
<h6><a href='/logout'>Log Out</a></p>