<h2>Welcome to My Favorite Meals, <%=current_user.username%>!</h2>
<p>Click <a href='/meals'>here</a> to see all your current meals!</p>
<p>Click <a href='/meals/new'>here</a> to create a new meal!</p>
<h6><a href='/logout'>Log Out</a></p>