<h2>Here are all the Meals that you have Reviewed!</h2><br><br>
<h4>Click on a Meal to see your Reviews!</h4><br>
<h4>If you haven't reviewed any meals yet, click <a href="/meals/new">here</a> to create a new one!</h4><br>
<ol>
<% current_user.meals.each do |meal| %>
    <li><a href="/meals/<%= meal.id %>"><%= meal.title %></a></li>
<% end %>
</ol>