<h2>Create your Review here:</h2>
<form action="/reviews" method="POST">
    <p>Review Title: <input type="text" name="title"></p>
    <p>Overall Rating: <input type="integer" name="rating"></p>
    <p>Date of Meal: <input type="date" name="day_of_visit"></p>
    <p>Review: <input type="text_box" name="review_body"></p>
    <input type="submit" value="Create Review">
</form>