<h2>Create your Review:</h2><br><br>
<form action="/reviews" method="POST">
    <p>Review Title: <input type="text" name="review[title]"></p>
    <p>Meal: <input type="text" name="review[meal]"></p>
    <p>Location: <input type="text" name="review[location]"></p>
    <p>Date of Meal: <input type="date" name="review[date]"></p>
    <p>Review: <textarea type="text" name="review[body]"></textarea></p><br><br>

    <input type="submit" value="Create Review">
</form>

