
<h2>Welcome to My Favorite Meals!</h2>
<br>
<h4>This is the website where you can come to record all your favorite meals for future inspiration!</h4><br>
<p>Whether you cooked at home, or ate out at a restaurant, keep a record of all your favorite meals so that on those days you cannot think of what to eat, you have a helping hand!</p>
<p>If you are already signed up, please <a href='/login'>log in</a> here, or you can <a href='/signup'>sign up</a> here!</p>